.first {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.second{
    background: linear-gradient(to bottom, #33ffb4 0%, #333399 100%);
}
.third{
    background: linear-gradient(to bottom, #a733ff 0%, #990033 100%);
}
.fourth{
    background: linear-gradient(to bottom, #3a4105 0%, #009996 100%);
}